* {
  font-family: "NanumSquare", sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  background-color: inherit;
  cursor: pointer;
}
