@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

body {
  font-family: "NanumSquare", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
